*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/noralynn/coffeecompanion/http/ApiConstants.java